VITE_SUPABASE_URL=https://tbafzgegybouwbksxfak.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRiYWZ6Z2VneWJvdXdia3N4ZmFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2NDQzMDksImV4cCI6MjA5ODIyMDMwOX0.WMVvvFMe9ODF2vNjp2sh6oB3Zcdw0Xu8BXhuk51c5G8
