VITE_SUPABASE_URL=https://hcsbswsnlghyyyhgnrjs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhjc2Jzd3NubGdoeXl5aGducmpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ4MDE0MzQsImV4cCI6MjEwMDM3NzQzNH0.4VG50E0ciAL9vwZe-TC-T10eBYrEZR8Vsi-CT_doh5o
